<div class="container">
  <div class="search-container">
    <input type="text" placeholder="Search" [(ngModel)]="searchTerm" (keydown.enter)="searchMaintenanceRequests()" />
    <button type="button" pButton icon="pi pi-search" (click)="searchMaintenanceRequests()" label="Search"></button>
  </div>

  <div class="add-maintenance-container">
    <h3>Add New Maintenance Request</h3>
    <div class="input-button-container">
      <input [(ngModel)]="issueInput" placeholder="Issue" />
      <select [(ngModel)]="statusInput" class="select-input">
        <option value="PENDING">Pending</option>
        <option value="APPROVED">Approved</option>
        <option value="COMPLETED">Done</option>
        <option value="DENIED">Denied</option>
      </select>
      <input type="number" [(ngModel)]="selectedPersonId" placeholder="Person ID" />
      <input type="number" [(ngModel)]="selectedRoomId" placeholder="Room ID" />
      <button type="button" pButton icon="pi pi-plus" (click)="createMaintenanceRequest()" label="Add"></button>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Created Date</th>
        <th>End Date</th>
        <th>Issue</th>
        <th>Status</th>
        <th>Person ID</th>
        <th>Room ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of filteredRequests">
        <td>{{ request.maintenanceRequestId }}</td>
        <td>{{ request.createdDate | date: 'short' }}</td>
        <td>{{ request.endDate | date: 'short' }}</td>
        <td>{{ request.issue }}</td>
        <td>{{ request.status }}</td>
        <td>{{ request.personId }}</td>
        <td>{{ request.roomId }}</td>
        <td>
          <button type="button" pButton icon="pi pi-pencil" label="Edit" (click)="startEdit(request)"></button>
          <button type="button" pButton icon="pi pi-trash" label="Delete" class="p-button-danger" (click)="confirmDelete(request)"></button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="filteredRequests.length === 0 && searchTerm">
    <p>No results found for "{{ searchTerm }}"</p>
  </div>

  <p-confirmPopup #confirmPopup></p-confirmPopup>

  <div *ngIf="requests.length === 0 && searchTerm">
    <p>No results found for "{{ searchTerm }}"</p>
  </div>

  <p-dialog [(visible)]="editPopup.display" [modal]="true" [closable]="false" (onHide)="resetNewMaintenanceRequest()">
    <app-edit-popup [maintenanceRequest]="selectedRequest" [display]="editPopup.display"
      (confirm)="handleConfirm($event)" (cancel)="handleCancel()">
    </app-edit-popup>
  </p-dialog>
</div>