.room-list {
  list-style-type: none;
  padding: 0;
}

.room-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  background-color: #f9f9f9;
}

.room-number,
.room-description,
.room-floor {
  margin-bottom: 10px;
}
