<h3>Accessible Rooms for Person ID: {{ person?.personId }}</h3>
<div *ngIf="person">
    <p>Name: {{ person.firstName }} {{ person.lastName }}</p>
    <p>Email: {{ person.email }}</p>
    <p>Phone: {{ person.phoneNumber }}</p>
</div>

<ul>
    <li *ngFor="let room of rooms" class="room-item">
        Floor: {{ room.floorId }} - {{ room.floorDescription }} <br />
    Room: {{ room.number }} - {{ room.description }} <br />
    Building: {{ room.buildingId }} - {{room.buildingName}}
    </li>
  </ul>


<div *ngIf="rooms.length === 0">No accessible rooms available.</div>
