<div class="column gap-1">
  <!-- Add building Button -->
  <button
    type="button"
    pButton
    icon="pi pi-plus"
    (click)="toggleAddPopup()"
    label="Add Building"
    class="add-building-btn"
  ></button>

  <!-- Building Section -->
  <div class="row wrap gap-2 space-between">
    <app-building
      *ngFor="let building of buildings"
      [building]="building"
      (edit)="toggleEditPopupBuilding(building)"
      (delete)="deleteBuilding(building)"
    >
  </app-building>
  </div>

  
  <!-- Edit building -->
  <app-edit-popup
  [building]="selectedBuilding"
  [(display)]="displayEditPopup"
  (confirm)="onConfirmEdit($event)"
  (cancel)="onCancelEdit()"
  [header]="'Edit Building'"
  (displayChange)="displayEditPopup = $event"
></app-edit-popup>

  <!-- Add building -->
  <app-edit-popup
    [(display)]="displayAddPopup"
    (confirm)="onConfirmAdd($event)"
    header="Add Building"
    [building]="selectedBuilding"
  ></app-edit-popup>
</div>