<header #wrapper class="wrapper row full-center">
  <div class="logo-container">
    <img src="/assets/images/logo.png" class="logo" alt="Logo">
  </div>

<div class="title-wrapper">  <h1 class="title">Building Management System</h1> </div>
  <div class="menu-container">
    <div class="menu-icon" (click)="toggleMenu()">
      <i class="{{menu_icon}}"></i>
    </div>
    <div class="desktop_menu" [class.mobile_menu]="menuValue">
      <ul>
        <li (click)="toggleMenu()"><a routerLink="/">Home</a></li>
        <li (click)="toggleMenu()"><a routerLink="/accesslog">AccessLogs</a></li>
        <li (click)="toggleMenu()"><a routerLink="/person">Person</a></li>
        <li (click)="toggleMenu()"><a routerLink="/maintenancerequest">Requests</a></li>
      </ul>
    </div>
  </div>
</header>