<div class="container">
  <div class="search-container">
    <input type="text" placeholder="Search" [(ngModel)]="searchTerm" (keydown.enter)="searchAccessLogs()" />
    <button type="button" pButton icon="pi pi-search" (click)="searchAccessLogs()" label="Search"></button>
  </div>

  <div class="add-accesslog-container">
    <h3>Add New Access Log</h3>
    <input [(ngModel)]="newAccessLog.cardScannerId" placeholder="Card Scanner ID" />
    <input [(ngModel)]="newAccessLog.personId" placeholder="Person ID" />
    <input type="datetime-local" [(ngModel)]="newAccessLog.accessTime" placeholder="Timestamp" />
    <button type="button" pButton icon="pi pi-plus" (click)="logAccess()" label="Add"></button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Access Log ID</th>
        <th>Card Scanner ID</th>
        <th>Floor Description</th>
        <th>Room Number</th>
        <th>Building Name</th>
        <th>Access Time</th>
        <th>Full Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="filteredLogs.length > 0; else noLogsTemplate">
        <tr *ngFor="let log of filteredLogs">
          <td>{{ log.accessLogId }}</td>
          <td>{{ log.cardScannerId }}</td>
          <td>{{ log.floorDescription }}</td>
          <td>{{ log.roomNumber }}</td>
          <td>{{ log.buildingName }}</td>
          <td>{{ log.accessTime | date:'short' }}</td>
          <td>{{ log.fullName }}</td>
          <td>
            <button type="button" class="p-button-danger" pButton icon="pi pi-trash" (click)="deleteAccessLog(log)" label="Delete"></button>
          </td>
        </tr>
      </ng-container>
      <ng-template #noLogsTemplate>
        <tr>
          <td colspan="7">No access logs available.</td>
        </tr>
      </ng-template>
    </tbody>
  </table>

  <div *ngIf="filteredLogs.length === 0 && searchTerm">
    <p>No results found for "{{ searchTerm }}"</p>
  </div>