.container {
  padding: 20px;
  background-color: #f9f9f9; 
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h3 {
  margin: 15px;
}

.search-container {
  display: flex; 
  justify-content: flex-start; 
  margin-bottom: 20px;
}

.add-person-container {
  margin-bottom: 20px;
  padding: 15px; 
  background-color: #e7f3fe; 
  border: 1px solid #b9e3f5; 
  border-radius: 5px; 
}

.input-button-container {
  display: flex; 
  align-items: center; 
  gap: 15px; 
}

input, .select-input {
  width: 20%; 
  height: 40px; 
  padding: 8px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  font-size: 14px; 
  box-sizing: border-box; 
}

.p-button {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  margin-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd; 
  padding: 10px; 
  text-align: left; 
}

th {
  background-color: #4CAF50; 
  color: white; 
}

tr:hover {
  background-color: #f1f1f1; 
}

.p-button-danger {
  background-color: #dc3545; 
  border: none; 
}

.p-button-danger:hover {
  background-color: #c82333; 
}


 