<div class="container">
    <!-- <div class="search-container">
      <input type="text" placeholder="Search by issue" [(ngModel)]="searchTerm" (keydown.enter)="searchMaintenanceRequests()" />
      <button type="button" pButton icon="pi pi-search" (click)="searchMaintenanceRequests()" label="Search"></button>
    </div> -->

    <div class="add-maintenance-request-container">
        <h3>Add New Maintenance Request</h3>
        <input [(ngModel)]="newMaintenanceRequest.issue" placeholder="Issue description" />
        <input type="number" [(ngModel)]="newMaintenanceRequest.personId" placeholder="Person ID" />
        <input type="number" [(ngModel)]="newMaintenanceRequest.roomId" placeholder="Room ID" />
        <button type="button" pButton icon="pi pi-plus" (click)="createMaintenanceRequest()" label="Add"></button>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Created Date</th>
                <th>Issue</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of maintenanceRequests">
                <td>{{ request.maintenanceRequestId }}</td>
                <!-- <td>{{ request.createdDate | date: 'short' }}</td> -->
                <td>{{ request.issue }}</td>
                <td>{{ request.status }}</td>
                <td>
                    <!-- <button type="button" pButton icon="pi pi-trash" (click)="deleteMaintenanceRequest(request.maintenanceRequestId)" label="Delete" class="p-button-danger" #deleteButton></button> -->
                </td>
            </tr>
        </tbody>
    </table>

    <p-confirmPopup #confirmPopup></p-confirmPopup>

    <!-- <div *ngIf="maintenanceRequests.length === 0 && searchTerm">
      <p>No results found for "{{ searchTerm }}"</p>
    </div> -->
</div>