<p-dialog [header]="header" [(visible)]="display" [modal]="true" [closable]="false">
    <div class="column gap-1">
        <div class="row gap-05">
            <span class="label">Name:</span>
            <input type="text" [(ngModel)]="editingBuilding.name" />
        </div>

        <div class="row gap-05">
            <span class="label">Address:</span>
            <input type="text" [(ngModel)]="editingBuilding.address" />
        </div>
    </div>

    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="onConfirm()" label="Confirm"></button>
        <button type="button" pButton icon="pi pi-times" (click)="onCancel()" label="Cancel"></button>
    </p-footer>
</p-dialog>


<!-- <p-dialog [header]="header" [(visible)]="display" [modal]="true" [closable]="false">
    <div class="column gap-1">
      <div class="row gap-05">
        <span class="label">Name:  </span>
        <input type="text" [(ngModel)]="building.name" />
      </div>
  
      <div class="row gap-05">
        <span class="label">Address:</span>
        <input type="text" [(ngModel)]="building.address" />
      </div>
    </div>
    
    <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="onConfirm()" label="Confirm"></button>
      <button type="button" pButton icon="pi pi-times" (click)="onCancel()" label="Cancel"></button>
    </p-footer>
  </p-dialog> -->


<!-- <p-dialog [header]="header" [(visible)]="display" [modal]="true" [closable]="false">
    <div class="column gap-1 "> -->

<!-- <div class="row gap-05">
            <span class="label">Building Id:</span>
            <input type="text" [(ngModel)]="building.buildingId"/>
        </div> -->

<!-- <div class="row gap-05">
            <span class="label">Name:</span>
            <input type="text" [(ngModel)]="building.name" />
        </div>

        <div class="row gap-05">
            <span class="label">Address:</span>
            <input type="text" [(ngModel)]="building.address" />
        </div> -->
<!-- <div class="row gap-05">
            <span class="label">Floors:</span>
            <input type="text" [(ngModel)]="building.floors"/>
        </div> -->

<!-- </div>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="onConfirm()" label="Confirm"></button>
        <button type="button" pButton icon="pi pi-times" (click)="onCancel()" label="Cancel"></button>
    </p-footer>
</p-dialog> -->